<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--1.Mapper.xml文件中的namespace与mapper接口的全限定名相同。-->

<mapper namespace="com.kawainekosann.mapper.UserMapper">
    <resultMap id="userMap" type="user">
        <id column="uid" property="id"></id>
        <result column="userName" property="userName"></result>
        <result column="passWord" property="passWord"></result>
        <result column="birthday" property="birthday"></result>
        <!--配置集合
        property:当前实体的属性名称
        javaType：当前属性的类型
        -->
        <collection property="ordersList" javaType="order">
            <id column="oid" property="id"></id>
            <result column="total" property="total"></result>
            <result column="ordertimes" property="ordertimes"></result>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="userMap">
        select *,o.id oid from public.user u,orders o where u."id" = o.uid
    </select>
</mapper>